/*Imports from base */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat_Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat2";
  src: url("./../fonts/Montserrat_Bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat3";
  src: url("./../fonts/Montserrat_Semibold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto_Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins.woff") format("woff");
}
/*Imports from utils */
/*  Colors  */
/* Font size */
/* Flex */
/* font weight */
/* Align */
/* list style */
/*Imports from pages */
html {
  font-size: 62.5%;
  font-family: "Montserrat";
  background-color: #FAFAFA;
}

main {
  text-align: center;
}
main img {
  max-width: 320px;
  margin: 6rem 0;
}
main p {
  font-size: 2.4rem;
  color: #000;
  font-weight: 900;
}
main hr {
  border: 0.1rem solid #E3E3E3;
  min-width: 80%;
  margin: 5rem 0;
}
main .main__paragraphs button, main .content .section button {
  flex-direction: column;
  margin-bottom: 1.6rem;
}
main .main__paragraphs p, main .content .section p {
  font-size: 1.6rem;
  color: #737373;
  margin: 0 2.6rem;
}
main .main__paragraphs p:first-child, main .content .section p:first-child {
  margin-top: 5rem;
}
main .main__paragraphs p:nth-child(2), main .content .section p:nth-child(2) {
  font-family: "Poppins";
  font-weight: 500;
  padding: 1rem;
  font-size: 3.6rem;
  color: #252B42;
  margin: 0.7rem 0;
}
main .main__paragraphs p:nth-child(3), main .content .section p:nth-child(3) {
  margin: 3rem 2.5rem;
  padding: 1rem;
  font-size: 2.4rem;
}
main .content .section {
  padding-bottom: 4rem;
}
main .content .section img {
  margin: 0;
}
main .content .section p {
  color: #737373;
}
main .content .section p:first-child {
  margin-top: 0rem;
  color: #FA4A0c;
  font-size: 2.4rem;
  background-image: none;
}
main .content .section p:nth-child(2) {
  margin: 3rem 0;
  padding: 0 2.9rem;
  font-weight: 700;
}
main .register__section {
  background-color: #252B42;
  padding: 11rem 2.4rem;
  max-width: 100%;
}
main .register__section p {
  color: #fff;
  font-size: 4rem;
  padding: 1rem 0;
}
main .register__section p:nth-child(2) {
  color: #E3E3E3;
  font-size: 2.4rem;
  padding-bottom: 5rem;
}
main .register__section p:nth-child(3) {
  display: none;
}
main .register__section button {
  margin: 0.2rem;
  border-radius: 1rem;
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
}
main .register__section button span:nth-child(2) {
  display: none;
}

@media (min-width: 640px) {
  main .main__paragraphs, main .content .section {
    padding: 5rem 0;
  }
  main .main__paragraphs button:nth-child(2n-1), main .content .section button:nth-child(2n-1) {
    color: #fff;
    border: #fff 1px solid;
  }
  main .main__paragraphs p, main .content .section p {
    color: #fff;
  }
  main .main__paragraphs p:first-child, main .content .section p:first-child {
    margin: 0;
  }
  main .main__paragraphs p:nth-child(2), main .content .section p:nth-child(2) {
    color: #fff;
  }
  main .main__paragraphs p:nth-child(3), main .content .section p:nth-child(3) {
    color: #fff;
  }
  main .main__paragraphs:first-child, main .content .section:first-child {
    background-image: url("./../images/Background-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  main .main__paragraphs:nth-child(5), main .content .section:nth-child(5) {
    padding: 0rem 0;
  }
  main .content .section:first-child {
    background-image: none;
    padding: 0;
  }
  main .content .section p:first-child {
    padding-top: 0rem;
  }
  main .content .section p:nth-child(2) {
    color: #252B42;
  }
  main .content .section p:nth-child(3) {
    color: #737373;
  }
  main .register__section {
    background-image: url("./../images/Background-footer.png");
    background-position: center;
    background-size: cover;
  }
  main .register__section p:nth-child(2) {
    display: none;
  }
  main .register__section p:nth-child(3) {
    display: block;
    color: #E3E3E3;
    font-size: 2rem;
  }
  main .register__section button {
    padding: 2rem 3rem;
  }
  main .register__section button:nth-child(2n-1) {
    color: #fff;
    border: #fff 1px solid;
  }
  main .register__section button span {
    display: none;
  }
  main .register__section button span:nth-child(2) {
    display: block;
  }
}
@media (min-width: 768px) {
  main {
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
  }
  main img {
    max-width: 480px;
    margin: -8rem 0 0 0;
  }
  main .content {
    flex-direction: row;
    text-align: left;
    padding: 0 10%;
  }
  main .content .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2rem;
  }
  main .content .section .section__paragraphs:nth-child(2n-1) {
    margin-left: 2rem;
  }
  main .content .section .section__paragraphs p {
    padding: 1rem 0;
    margin: 0;
  }
  main .content .section:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  main button {
    flex-direction: column;
    margin: 1.7rem;
  }
  main .main__paragraphs, main .content .section {
    padding: 10rem 0;
  }
  main .main__paragraphs .content, main .content .section .content {
    flex-direction: row;
    justify-content: space-between;
  }
}
/*Imports from components */
button {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem 5.85rem;
  border: none;
  background-color: #FA4A0c;
  border-radius: 2.6rem;
}
button:nth-child(2n-1) {
  color: #FA4A0c;
  border: #FA4A0c solid 0.1rem;
  background-color: transparent;
}

/*Imports from layout */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto";
  font-size: 1.6rem;
  padding: 6rem 0;
}
footer img {
  display: none;
}
footer p {
  text-align: center;
  padding: 0.8rem 0;
}
footer p:nth-child(2n) {
  display: none;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
footer ul li {
  padding: 0 1.5rem;
}
footer ul li svg {
  height: 4rem;
  width: 4rem;
  fill: #FA4A0c;
}
footer ul li:nth-child(4n) {
  display: none;
}

@media (min-width: 640px) {
  footer {
    flex-direction: column;
  }
  footer img {
    display: block;
  }
  footer ul {
    padding: 1rem 0;
  }
  footer ul li:nth-child(3n) {
    display: none;
  }
  footer ul li:nth-child(4n) {
    display: block;
  }
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  footer img {
    min-width: 276px;
  }
}
header {
  background-color: #fff;
  padding: 1.6rem;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
header ul .nav__text li {
  display: none;
}
header ul .nav__text svg {
  height: 2.5rem;
  width: 2.5rem;
}
header ul .nav__text svg:hover {
  fill: #FA4A0c;
}

@media (min-width: 640px) {
  header ul .nav__text li {
    font-size: 1.6rem;
    display: flex;
    margin: 2rem;
    color: #252B42;
    font-weight: 700;
  }
  header ul .nav__text li:first-child {
    color: #FA4A0c;
  }
  header ul .nav__text svg {
    display: none;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 1.6rem 7rem;
  }
  header ul .nav__text li {
    margin: 2rem 6rem;
  }
}

/*# sourceMappingURL=style.css.map */
