@mixin flex {
    display: flex;
}

@mixin flex-direction($row) {
    flex-direction: $row;
}

@mixin align($align) {
    align-items: $align;
}

@mixin justify($justify) {
    justify-content: $justify;
}

@mixin nav_color($color) {
    fill: $color;
}

@mixin text($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin margin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

@mixin color {
    color: $white;
    border: $white 1px solid;
}

@mixin max-width($max-width) {
    max-width: $max-width;
}

@mixin list-style($none) {
    list-style-type: $none;
}

@mixin background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}