/*  Colors  */
$orange: #FA4A0c;
$black: #000;
$grey: #737373;
$granat: #252B42;
$white: #fff;
$light-grey: #FAFAFA;
$grey3: #E3E3E3;
$grey4: #BDBDBD;

/* Font size */
$font12: 1.2rem;
$font16: 1.6rem;
$font36: 3.6rem;
$font24: 2.4rem;
$font20: 2rem;

/* Flex */
$row: row;
$column: column;

/* font weight */
$w700: 700;
$w500: 500;
$bold: bold;

/* Align */
$center: center;
$left: left;
$right: right;

$height: height;
$width: width;
$max-height: max-height;
$max-wight: max-width;

/* list style */
$none: none;