html {
    font-size: 62.5%;
    font-family: $main__font;
    background-color: $light-grey;
}

main {

    text-align: center;

    img {
        max-width: 320px;
        margin: 6rem 0;
    }

    p {
        font-size: $font24;
        color: $black;
        font-weight: 900;
    }

    hr {
        border: .1rem solid $grey3;
        min-width: 80%;
        margin: 5rem 0;
    }

    .main__paragraphs {
        button {
            flex-direction: column;
            margin-bottom: 1.6rem;
        }

        p {
            font-size: $font16;
            color: $grey;
            margin: 0 2.6rem;

            &:first-child {
                margin-top: 5rem;
            }

            &:nth-child(2) {
                font-family: $poppins;
                font-weight: 500;

                padding: 1rem;
                font-size: $font36;

                color: $granat;
                margin: .7rem 0;
            }

            &:nth-child(3) {
                margin: 3rem 2.5rem;
                padding: 1rem;
                font-size: $font24;
            }
        }
    }

    .content {
        .section {
            @extend .main__paragraphs;
            padding-bottom: 4rem;

            img {
                margin: 0;
            }

            p {
                color: $grey;


                &:first-child {
                    margin-top: 0rem;
                    color: $orange;
                    font-size: $font24;
                    background-image: none;
                }

                &:nth-child(2) {
                    margin: 3rem 0;
                    padding: 0 2.9rem;
                    font-weight: 700;
                }
            }
        }
    }

    .register__section {
        background-color: $blue;
        padding: 11rem 2.4rem;
        max-width: 100%;

        p {
            color: $white;
            font-size: $font40;
            padding: 1rem 0;

            &:nth-child(2) {
                color: $grey3;
                font-size: $font24;
                padding-bottom: 5rem;
            }

            &:nth-child(3) {
                display: none;

            }
        }

        button {
            margin: .2rem;
            border-radius: 1rem;
            padding: 1.6rem 2rem;
            font-size: $font16;

            span {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 640px) {
    main {
        .main__paragraphs {
            padding: 5rem 0;

            button {

                &:nth-child(2n-1) {
                    @include color;
                }
            }

            p {
                color: $white;

                &:first-child {
                    margin: 0;
                }

                &:nth-child(2) {
                    color: $white;
                }

                &:nth-child(3) {
                    color: $white;
                }
            }

            &:first-child {
                background-image: url("./../images/Background-header.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:nth-child(5) {
                padding: 0rem 0;
            }
        }

        .content {
            .section {
                &:first-child {
                    background-image: none;
                    padding: 0;
                }

                p {
                    &:first-child {
                        padding-top: 0rem;

                    }

                    &:nth-child(2) {
                        color: $granat;
                    }

                    &:nth-child(3) {
                        color: $grey;
                    }
                }
            }
        }

        .register__section {
            background-image: url("./../images/Background-footer.png");
            background-position: center;
            background-size: cover;

            p {
                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    display: block;
                    color: $grey3;
                    font-size: $font20;
                }
            }

            button {
                padding: 2rem 3rem;

                &:nth-child(2n-1) {
                    @include color;
                }

                span {
                    display: none;

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        @include justify(space-between);
        align-items: center;
        justify-content: space-evenly;


        img {
            max-width: 480px;
            margin: -8rem 0 0 0;
        }

        .content {
            flex-direction: row;
            text-align: left;
            padding: 0 10%;

            .section {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                padding-bottom: 2rem;

                .section__paragraphs {
                    &:nth-child(2n-1) {
                        margin-left: 2rem;
                    }

                    p {
                        padding: 1rem 0;
                        margin: 0;
                    }
                }

                &:nth-child(2n+1) {
                    flex-direction: row-reverse;
                }
            }
        }
    }
}

@media (min-width: 1044px) {
    main {

        button {
            flex-direction: column;
            margin: 1.7rem;
        }

        .main__paragraphs {
            padding: 10rem 0;

            .content {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}