footer {
    @include flex;
    @include flex-direction($column);
    @include align($center);
    @include justify($space-evenly);
    font-family: $secondary__font;
    font-size: 1.6rem;
    padding: 6rem 0;

    img {
        display: none;
    }

    p {
        text-align: $center;
        padding: .8rem 0;

        &:nth-child(2n) {
            display: none;
        }
    }

    ul {
        @include flex;
        @include flex-direction($row);
        @include justify($space-around);
        list-style-type: none;

        li {
            padding: 0 1.5rem;

            svg {
                height: 4rem;
                width: 4rem;
                fill: $orange;
            }

            &:nth-child(4n) {
                display: none;
            }
        }
    }
}

@media (min-width: 640px) {
    footer {
        @include flex-direction($column);

        img {
            display: block;
        }

        ul {
            padding: 1rem 0;

            li {
                &:nth-child(3n) {
                    display: none;
                }

                &:nth-child(4n) {
                    display: block;

                }
            }
        }
    }
}

@media (min-width: 1024px) {
    footer {
        @include flex-direction($row);
        justify-content: space-around;


        img {
            min-width: 276px;
        }

        ul {}
    }

}