header {
    background-color: $white;
    padding: 1.6rem;

    ul {
        @include flex;
        @include flex-direction($row);
        @include align($center);
        @include justify($space-between);
        list-style-type: none;

        .nav__text {

            li {
                display: none;
            }

            svg {
                height: 2.5rem;
                width: 2.5rem;

                &:hover {
                    fill: $orange;
                }
            }
        }
    }
}

@media (min-width: 640px) {
    header {
        ul {
            .nav__text {
                li {
                    font-size: $font16;
                    display: flex;
                    margin: 2rem;
                    color: $granat;
                    font-weight: $w700;

                    &:first-child {
                        color: $orange;
                    }
                }

                svg {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    header {
        padding: 1.6rem 7rem;

        ul {
            .nav__text {
                li {
                    margin: 2rem 6rem;
                }
            }
        }
    }
}