button {
    color: $white;
    @include text($font20, $w700);
    padding: 1.6rem 5.85rem;
    border: none;
    background-color: $orange;
    border-radius: 2.6rem;

    &:nth-child(2n-1) {
        color: $orange;
        border: $orange solid 0.1rem;
        background-color: transparent;
    }
}