$main__font: 'Montserrat';
$main__bold: 'Montserrat2';
$main__semibold: 'Montserrat3';
$secondary__font: 'Roboto';
$poppins: 'Poppins';

@font-face {
    font-family: $main__font;
    src: url("./../fonts/Montserrat_Regular.woff") format('woff');
}

@font-face {
    font-family: $main__bold;
    src: url('./../fonts/Montserrat_Bold.woff') format('woff');
}

@font-face {
    font-family: $main__semibold;
    src: url("./../fonts/Montserrat_Semibold.woff") format('woff');
}

@font-face {
    font-family: $secondary__font;
    src: url("./../fonts/Roboto_Regular.ttf") format('ttf');
}

@font-face {
    font-family: $poppins;
    src: url("./../fonts/Poppins.woff") format('woff');
}